/bin
/build
/out
/target
/lib
/classes
/checkouts
/.settings/ccw.repl.cmdhistory.prefs
/.idea/workspace.xml
/.idea/tasks.xml
/.classpath
/.project
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
*.swp
*.*~
