body {
    background: none repeat scroll 0 0 #333333;
    font-family: verdana,sans-serif;
    line-height: 24px;
    margin: 0;
}
#header {
    margin: 0 auto;
    width: 940px;
}
#title {
    float: left;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    color: #777777;
}
#content {
    float: left;
    width: 100%;
}