.category {
}
.name {
    background: #444;
    text-align: center;
    margin: 5px;
}
.entry-list {
    list-style-type: none;
    background: none repeat scroll 0 0 #444;
    float: left;
    margin: 5px;
    padding: 0 5px 5px 5px;
    width: 11.5em;
    min-height: 2.9em;
}
.entry {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 8.5em;
}
.category {
    float: left;
}
.entry {
    width: 10em;
    font-size: 16px;
}
.add-box {
    background: #444;
    margin: 5px;
    padding: 5px;
}
.add-entry {
    margin: 5px;
    width: 9.5em;
    font-size: 16px;
}